ALLOWED_HOSTS = [{% for project_domain in project_domains %}"{{ project_domain }}",{% endfor %}]

DATABASES = {
    "default": {
        # Ends with "postgresql_psycopg2", "mysql", "sqlite3" or "oracle".
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        # DB name or path to database file if using sqlite3.
        "NAME": "{{project_dbname}}",
        # Not used with sqlite3.
        "USER": "{{project_dbuser}}",
        # Not used with sqlite3.
        "PASSWORD": "{{project_dbpass}}",
        # Set to empty string for localhost. Not used with sqlite3.
        "HOST": "{{ project_dbhost}}",
        # Set to empty string for default. Not used with sqlite3.
        "PORT": "{{project_dbport}}",
    }
}


{% if project_nginx %}
SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PROTOCOL", "https")
{% endif %} {#project_nginx#}

{% if project_cache  %}
CACHE_MIDDLEWARE_SECONDS = 60

CACHE_MIDDLEWARE_KEY_PREFIX = "{{ project_name }}"

CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.memcached.MemcachedCache",
        "LOCATION": "{{project_memcached_host}}:11211",
    }
}


SESSION_ENGINE = "django.contrib.sessions.backends.cache"
{% endif  %} {#project_cache#}

{% if project_task %}
CELERY_BROKER_URL = "{{project_queue_type}}://{{project_queue_user}}:{{project_queue_pass}}@{{project_queue_host}}:{{project_queue_port}}/{{project_queue_vhost}}"
CELERY_RESULT_BACKEND = 'cache+memcached://{{project_memcached_host}}:11211/'
{% endif %} {#project_task#}
