{% for item in project_queue_list %}
[program:{{item}}]
command = {{ project_venv_path }}/bin/celery worker -A {{ project_name }} --loglevel=info -n {{item}}@%%h -Q {{item}}
directory={{ project_path }}
user={{ project_user }}
numprocs=1
autostart=true
autorestart=true
startsecs=10
stopwaitsecs = 60
stdout_logfile={{ project_logs }}/{{item}}_stdout.log
stderr_logfile={{ project_logs }}/{{item}}_stderr.log
killasgroup=true
priority=998
{% endfor %}

[program:flower]
command = {{ project_venv_path }}/bin/celery -A {{ project_name }} flower --broker={{project_queue_type}}://{{project_queue_user}}:{{project_queue_pass}}@{{project_queue_host}}:{{project_queue_port}}/{{project_queue_vhost}}
directory={{ project_path }}
user={{ project_user }}
numprocs=1
autostart=true
autorestart=true
startsecs=10
stopwaitsecs = 60
stdout_logfile={{ project_logs }}/flower_stdout.log
stderr_logfile={{ project_logs }}/flower_stderr.log
killasgroup=true
priority=998

[group:{{supervisor_conf_name}}]
programs={{ project_queue_list|join(", ") }},flower
priority=999
