from __future__ import unicode_literals
import multiprocessing

# unix sockets can't be created at vboxfs, need to chain with nginx
# bind = "unix:{{ djangopg_proj_path }}/gunicorn.sock"
bind = "unix:/tmp/gunicorn.sock"
workers = {{ djangopg_num_workers }}
errorlog = "{{ djangopg_home }}/logs/{{ djangopg_proj_name }}_error.log"
loglevel = "error"
proc_name = "{{ djangopg_proj_name }}"
